.entrybox {
    padding : 0.2rem;
    align-items: center;
}

.buttonbox {
    padding-top: 0.5rem;
}

.title {
    color:#315840;
    font-family: monospace;
}

.savingbox {
    margin-top:2%;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.savinglabel {
    font-weight: bold;
    color:#325f50;
    font-family: monospace;
    font-size: smaller;
}

.buttonboxbuy {
    display: flex;
    padding-top: 0.5rem;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: monospace;
    background-color: #325f50;
    color: #fefeff;
}

.button:hover {
    background-color: #fefeff;
    color: #325f50;
}

.formBorder {
    border: 2px solid #ccc; /* Adjust border properties as needed */
    padding: 20px; /* Add padding inside the border */
    width: 40%; /* Set a width for the border */
  }

.label {
    padding-right: 0.5rem;
    color: 	#325f50;
    font-family: monospace;
}

.option {
    color: #315840;
    font-family: monospace;
    display: inline-block;
}