.main {
  padding: 10%;
  align-items: center;
  justify-content: center;
  background-color: #fefeff;
}

.tokenbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opt {
  display: block;
  padding: 10%;
}

.logincontainer {
  display : flex;
  align-items: center;
  justify-content: center;
}

.subtext {
  font-size: smaller;
  font-family: monospace;
  color: #c6cbba;
}

.supportcontainer {
  padding:5%;
  display : flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub {
  color: 	#325f50;
  font-family: monospace;
}

.title {
  color: 	#325f50;
  font-family: monospace;
}

.imagecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
}

.text {
  font-family: monospace;
  font-size: large;
  font-weight: bolder;
}

.button {
  background: none;
  border: none;
  padding: 1.2rem;
  font-size: smaller;
  font-family: monospace;
  color: #c6cbba;
}

.button:hover{
  color:#325f50; 
  font-weight: bold;
}