.main {
    font-family: monospace;
    color: #325f50;
    padding: 2%;
    box-shadow: 2px 2px 2px 1px grey;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width:50%;
    font-size: x-small;
}

.textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-bottom: 2%;
}

.text {
    text-wrap: balance;
    text-align: center;
}

