.bar {
    background-color: #c6cbba;
    overflow: hidden;
    display: flex;
}

.entry {
    display: block;
    padding: 1.2rem;
    background: #c6cbba;
    font-family: monospace;
}

.entry:hover {
    display: block;
    background: #f6f9f3;
    font-family: monospace;
}