.entryBox {
    align-items: center;
    display: flex;
    font-family: monospace;
    color:#325f50;
    box-shadow: 2px 2px 2px 1px grey;
    margin-bottom: 1%;
}

.marketplace {
    flex-direction: column;
    padding-left : 5%;
    width: 70%;
    display: flex;
}

.marketplace_inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%; /* Adjust the gap as needed */
}

.tokendisplay {
    align-items: center;
    display: flex;
    font-family: monospace;
    color:#325f50;
    box-shadow: 2px 2px 2px 1px grey;
    margin-bottom: 1%;
    padding : 10%;
}

.fullpage {
display: flex;
}

.infobox {
    font-family: monospace;
    color:#325f50;
    padding:2%;
}

.titlebox {
    display: flex;
}

.holdingbox {
    padding: 2%;
}

.title {
    color:#325f50;
    font-family: monospace;
    padding-right: 10%;
}


.entry {
    display: block;
    padding: 1.2rem;
    border: #c6cbba;
    text-align: center;
    position: relative;
    padding-right: 10rem;
}

